<html>
<head>
  <title>Template inheritance example</title>
</head>
<body>
  <h1>Title stored in the base template</h1>
  <h2>With a subtitle</h2>

  {% block content %} {% endblock %}
</body>
</html>
